body {
  font-family: comic sans-serif;
}
ul li{
  display: inline;
  list-style: none;
}
a {
  color: salmon;
  font-family: Consolas
  font-style:normal;
}
a:link {
  color: orange;
  text-decoration: none;
  font-size: 18px;
}
a:hover {
  color: maroon;
  text-decoration: underline;
}
a.Reviews {
  color: maroon;
}
a.buy{ /*not working*/
  color:green
  background-color: white

}
img.logo {
  width:50px;
}
img.converse {
  width:550px;
  float:left;
}
div.menu {
  text-align: right;
}
div.middle {
  background-image: linear-gradient(to right, #EC4596 , #F44C1A);
  color:white;
  text-align: right;
  overflow:auto;
}
div.info {
  border-bottom-style: solid;
  border-color: salmon;
}
div.exciting {
  margin-left: 120px;
}
.li.rev { /*can't align rev right*/
  align-content: right;
}
h1 {
  text-align: ;left
}
h2.shop {
  text-align: center;
  background-color: lightpink;
  padding-top: 15px;
  padding-bottom: 15px;
}
p {
  border-top-style: dashed;
  border-bottom-style: dashed;
}
p.blah {
  border-top-style: none;
  border-bottom-style: none;
}
ul.shoes123 {
  background-image: linear-gradient(to right, #EC4596 , #F44C1A);
  display:
}
img.shoe1 {
  width: 250px;

}
img.shoe2 {
  width: 250px;
}
img.shoe3 {
  width: 250px;
}
