body {
  font-family:  sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  padding-left: 0px;
}
.menu {
  float: left;
}
.menu2 {
  float: right;
}

ul li{
  margin-right: 15px;
  display: inline;
  list-style: none;
}
a {
  color: salmon;
  font-family: Consolas
  font-style:normal;
}
a:link {
  color: orange;
  text-decoration: none;
  font-size: 15px;
}
a:hover {
  color: rgb(174, 46, 48);
  text-decoration: underline;
  text-decoration-color: salmon;
}
h2 {
  display: inline-block;
}
a.back {
  font-size: 12px;
  color: white;
  padding-bottom: 40px;
}
a.Reviews {
  color: rgb(174, 46, 48);
  text-decoration: underline;
  margin-left: 60px;
}
.buyit {
  color:#F44C1A;
  display: inline-block;
  background-color: white;
  padding: 14px 25px;
  margin-left: 10px;
  border-radius: 10px;
}
img.logo {
  width:50px;
  margin-right: 5px;
}
img.cart {
  margin-right: 5px;
}
img.converse {
  width:550px;
}

div.stars {
  float:right;
}
span {
  color: lightgrey ;
}
section {
  background-image: linear-gradient(to right, #de2074 , #F44C1A);
  height: 450px;
  clear: both;
}
div.stack {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
div.middle {
  width: 1000px;
  color:white;
  display:flex;
  justify-content: space-between;
  margin: 0 auto;
}
div.info {
  border: .100px;
  border-bottom-style: solid;
  border-color: salmon;
  margin-left: 100px;
  margin-right: 100px;
}
div.exciting {
  margin-left: 120px;
}
p.con {
  margin-bottom: 50px;
}
.checked {
  color: salmon;
}
h2.topic {
  margin-bottom: 2px;
  }
h3.topic {
  margin-bottom: 2px;
  }

h2.shop {
  text-align: center;
  margin-top: 150px;
  background-color: rgba(250,235,240);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0px;
}
h1 {
  font-size: 40px;
  margin-block-end: .1em;
}
h5 {
  color:rgba(174, 46, 48, 0.67);
  margin: 1px;
}
p.ipsum {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 15px;
  border-color: rgba(174, 46, 48, 0.27);
  border-top-style: dashed;
  border-bottom-style: dashed;
  width: 400px;
  line-height: 1.8
}

div.threeshoes {
  background-image: linear-gradient(to right, #de2074, #F44C1A);
  padding-top: 100px;
  padding-bottom: 100px;
}
img.shoe1 {
  width: 250px;
  margin-left: 225px;
}
h3.funny {
  margin-left: 225px;
  color: rgb(174, 46, 48);
  font-weight: normal;
}
img.shoe2 {
  width: 250px;
  margin-left: 50px;
  margin-right: 50px;
}
h3.nimble {
  margin-left: 50px;
  color: rgb(174, 46, 48);
  font-weight: normal;
}
img.shoe3 {
  width: 250px;
}
h3.cute {
  color:rgb(174, 46, 48);
  font-weight: normal;
}
a.sneak {
  color:white;
}
div.menu2 {
  float: right;
  color: grey;
}
